* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #D9DBE9;

}

h1 {
    color: #5F2EEA;
    font-family: 'Poppins', sans-serif;
    padding: 34px 120px;

}

.nav_top {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav_top svg {
    align-self: center;
    position: absolute;
    right: 64px;
    width: 28px;

}

.main_div {
    position: relative;
    display: flex;
}

.main_div h2 {
    font-family: 'Poppins', sans-serif;
    color: #4E4B66;
    font-size: 40px;
    padding: 150px 135px;
}

.btn_left {
    background-color: #5F2EEA;
    padding: 16px 40px;
    color: white;
    border-radius: 20px;
    border: none;
    transform: translate(80%, -272%);
}

.btn_left:hover {

    background-color: #2A00A2;
    color: white;

    box-shadow: #4E4B66 5px 5px 5px;
    transition: 0.5s;
    cursor: pointer;
}

.btn_right {
    padding: 15px 40px;
    color: #5F2EEA;
    border-radius: 20px;
    border: 2px solid #5F2EEA;
    font-weight: 700;
    background-color: transparent;
    position: absolute;
    margin-left: 2%;
    transform: translate(80%, -260%);

}
.main_div {
    display: flex;
    width: 100vh;
    height: 100vh;
}

.main_div_img {
    transform: translate(53%, -88%);
    z-index: 1;
}

.info_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 150px);
}

.info_one {
    border: 1px solid #D9DBE9;
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 25px;
}

.info_one h3 {
    font-family: 'Poppins', sans-serif;
    color: #2A00A2;
    text-align: center;
    font-size: x-large;
    padding-left: 15px;

}

.info_one p {
    color: #6E7191;
    position: absolute;
    transform: translate(40%, 100%);




}
.info_two {
    border: 1px solid #D9DBE9;
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 25px;
}

.info_two h3 {
    font-family: 'Poppins', sans-serif;
    color: #2A00A2;
    text-align: center;
    font-size: x-large;
    padding-left: 15px;

}

.info_two p {
    color: #6E7191;
    position: absolute;
    transform: translate(40%, 100%);


}

.info_three {
    border: 1px solid #D9DBE9;
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 25px;
}

.info_three h3 {
    font-family: 'Poppins', sans-serif;
    color: #2A00A2;
    text-align: center;
    font-size: x-large;
    padding-left: 15px;

}

.info_three p {
    color: #6E7191;
    position: absolute;
    transform: translate(40%, 100%);


}

.section_two {
    height: 100vh;

    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    width: 220px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    height: 380px;
    margin-left: 15px;

}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
    position: relative;
}

.card_btn {
    border-radius: 25px;
    color: #2A00A2;
    background-color: transparent;
    border: 1px grey solid;
    padding: 15px 40px;
    position: absolute;
    margin-top: 10px;
    left: 15%;
}

.card_btn:hover {
    background-color: #2A00A2;
    color: white;
    transform: scale(1.2);
    box-shadow: #4E4B66 5px 5px 5px;
    transition: 0.5s;
    cursor: pointer;
}





.card h2 {
    padding-top: 7px;
    left: 636px;
    top: 1550px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 5px;
    letter-spacing: 0.75px;
    text-align: center;
    white-space: nowrap;

}

.skill_main {
    display: flex;
    width: 300px;
    height: 30px;
    background-color: black;
}

.skill_child {
    width: 250px;
    height: 30px;
    background-color: #6E7191;
    animation: skill;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes skill {
    from {
        width: 0px;
    }

    to {
        width: 250px;
    }


}

.card_bottom {
    padding-top: 28px;
}

.section_two_header {
    display: flex;

    justify-content: space-around;
    align-items: center;
}

.section_two_header p {
    right: 20px;
}
.section_two{
    border-bottom: #D9DBE9 1px solid;
}
.section_three{
    height: 100vh;
}
.section_three_header{
    text-align: center;
    line-height:10px;
}
.section_three_header h1 {
    line-height: 40px ;
}
.section_three_contain{
    display: flex;
}
.section_three_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.btn_one ,
.btn_two ,
.btn_three , 
.btn_four , 
.btn_five , 
.btn_six {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 100%;
  background-color: transparent;
  border: #2A00A2 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #6e719152 0px 0px 0px 7px;

}

button {
  border: none;
  background-color: transparent;
}
.btn_one {
    position: absolute;
    transform: translate(-400% , -380%);
}
.btn_two {
    position: absolute;
    transform: translate(-490% , -100%);
}
.btn_three {
    position: absolute;
    transform: translate(-400% , 180%);
}
.btn_four {
    position: absolute;
    transform: translate(400% , -380%);
}
.btn_five {
    position: absolute;
    transform: translate(490% , -100%);
}
.btn_six {
    position: absolute;
    transform: translate(400% , 180%);
}
.btn_one:hover , 
.btn_two:hover ,
.btn_three:hover , 
.btn_four:hover , 
.btn_five:hover , 
.btn_six:hover{
    background-color:  #6e719152;
    cursor: pointer;
    
}